[*.cs]

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = silent

# IDE1006: Стили именования
dotnet_diagnostic.IDE1006.severity = none

# CA2000: Ликвидировать объекты перед потерей области
dotnet_diagnostic.CA2000.severity = suggestion
